
#yell-input {
    min-height: 3;
    max-height: 8;
    height: 1;
}

YellPrompt {
  margin-left: 2;
  background: $surface;
  border: $primary;
}

YellResponse {
  margin-right: 2;
  border: $primary;
}

YellHistory {
  width: 28;
  border-right: green vkey;
  background: $panel;
}
